/* GLOBAL STYLES */
a, a:hover {
  text-decoration: none;
  color: #fff;
}

h1,h2,h3,h4,h5,h6,p,a{
  font-family: 'Raleway', sans-serif;
}

/* START TOPBAR */
.topbar-bg{
  background-color: #000;
}

ul {
  margin-bottom: 0;
}

ul li {
  list-style-type: none;
}

.link {
  color: #333;
}

/* START HOME SECTION */
.home-section {

}
/* END HOME SECTION */

/* START SLIDER */
.carousel-inner > .carousel-item img{
  height: calc(100vh - 75px);
  background-position: center center;
}

.carousel-caption{
  background: rgba(0,0,0,0.6);
  padding: 10px;
  border-radius: 0px;
}

/* END SLIDER */





/* START ABOUTUS */
.aboutus {
  min-height: 400px;
}

/* START SERVICES */
.services-section .service{
  transition: all 0.6s ease-in-out;
}

.services-section .service p{
  color: #333
}
.services-section .service:hover{
  background-color: #7361ab;
  cursor: pointer;
} 

.services-section .service:hover i,

.services-section .service:hover p{
  color: #fff
}

.services-section .service i{
  color: #7361ab
}

.services-section .service h5{
  color: #000
}

/* START CLIENTS */
.clients{
  min-height: 100px;
}

.client-block img{
  margin: 0 auto;
}

.bg-purple{
  background-color: #7361ab;
}

.btn-green{
  background-color: #66C293;
  border-color : #66C293;
  color:#fff
}

/* START FOOTER */
.footer-contact{
  transition: all 0.6s ease-in-out;
}
.footer-contact p:hover{
  color:#66C293;
  cursor: pointer;
}