/* FONTS */
@font-face{
    font-family: 'tagwal';
    src:url(../fonts/Tajawal-Regular.ttf);
}

/* GLOBAL STYLE */
h1,h2,h3,h4,h5,h6,a,p{
    font-family: 'tagwal', sans-serif;
}



/* START NAVBAR */
.navbar-nav {
    flex-direction: row-reverse !important;
}



/* START CONTACT US */
.contact-form input, .contact-form textarea{
    text-align: end;
}